{  
    "config" : {
     "remote_storage_server" : "",
     "remote_database" : "smashbox",
     "remote_storage_user" : "X",
     "remote_storage_password" : "X",
    },
    "summary" : [
    	#Dropbox
        {
		 "show" : True,
		 "alias" : "Dropbox",
		 "server" : "dropbox",
		 "runid" : [
				    "deic",
				    "cern",
				],
		 "start_time" : "30d",
		 "stop_time" : "0d",
         "graph" : [
         	{
			    "show" : True,
	        	"type" : "compare-time-test",
		        "alias" : "100 files - file size distribution",
		        "test_name" : "monit",
		        "testdirstruct" : "0/100/var",
			    "max_y" : None,
		   	},
         	{
			    "show" : True,
	        	"type" : "compare-files-test",
		        "test_name" : [
		        	{ "monit" : "0/100/var" },
		        	{ "syncperf" : "0/1/100000000" },
		        	{ "syncperf" : "0/10/10000000" },
		        	{ "syncperf" : "10/100/10000" },
		        ],
		   	},
         	{
			    "show" : True,
	        	"type" : "cm-histogram-sync-test",
		        "test_name" : [
		        	{ "monit" : "0/100/var" },
		        	{ "syncperf" : "0/1/100000000" },
		        	{ "syncperf" : "0/10/10000000" },
		        	{ "syncperf" : "10/100/10000" },
		        ],
		   	},
         	{
			    "show" : True,
	        	"type" : "cm-histogram-transf-test",
		        "test_name" : [
		        	{ "monit" : "0/100/var" },
		        	{ "syncperf" : "0/1/100000000" },
		        	{ "syncperf" : "0/10/10000000" },
		        	{ "syncperf" : "10/100/10000" },
		        ],
		   	},
	     ]
	    },
	    #
	    #Seafile
        {
		 "show" : True,
		 "alias" : "Seafile",
		 "server" : "https://seacloud.cc/",
		 "runid" : [
				    "deic",
				    "cern",
				],
		 "start_time" : "30d",
		 "stop_time" : "0d",
         "graph" : [
         	{
			    "show" : True,
	        	"type" : "compare-time-test",
		        "alias" : "100 files - file size distribution",
		        "test_name" : "monit",
		        "testdirstruct" : "0/100/var",
			    "max_y" : None,
		   	},
         	{
			    "show" : True,
	        	"type" : "compare-files-test",
		        "test_name" : [
		        	{ "monit" : "0/100/var" },
		        	{ "syncperf" : "0/1/100000000" },
		        	{ "syncperf" : "0/10/10000000" },
		        	{ "syncperf" : "10/100/10000" },
		        ],
		   	},
         	{
			    "show" : True,
	        	"type" : "cm-histogram-sync-test",
		        "test_name" : [
		        	{ "monit" : "0/100/var" },
		        	{ "syncperf" : "0/1/100000000" },
		        	{ "syncperf" : "0/10/10000000" },
		        	{ "syncperf" : "10/100/10000" },
		        ],
		   	},
         	{
			    "show" : True,
	        	"type" : "cm-histogram-transf-test",
		        "test_name" : [
		        	{ "monit" : "0/100/var" },
		        	{ "syncperf" : "0/1/100000000" },
		        	{ "syncperf" : "0/10/10000000" },
		        	{ "syncperf" : "10/100/10000" },
		        ],
		   	},
	     ]
	    },
	    #
    ],
    "compare" : [
    	{
		 "show" : True,
         "test_name" : "syncperf",
         "alias" : "1 file - 100MB",
         "testdirstruct" : "0/1/100000000",
		 "server" : [
			"dropbox",
			"https://seacloud.cc/",
		 ],
	     "runid" : "deic",
		 "start_time" : "30d",
	     "stop_time" : "0d",
         "graph" : [
         	{
	        	"type" : "compare-files-server",
			    "show" : True,
		   	},
         	{
	        	"type" : "cm-histogram-sync-server",
			    "show" : True,
			    "max_x" : 250,
		   	},
         	{
	        	"type" : "cm-histogram-transf-server",
			    "show" : True,
		   	},
	     ]
	    },
    	{
		 "show" : True,
         "test_name" : "syncperf",
         "alias" : "10 files - 10MB",
         "testdirstruct" : "0/10/10000000",
		 "server" : [
			"dropbox",
			"https://seacloud.cc/",
		 ],
	     "runid" : "deic",
		 "start_time" : None,
	     "stop_time" : None,
         "graph" : [
         	{
	        	"type" : "compare-files-server",
			    "show" : True,
		   	},
         	{
	        	"type" : "cm-histogram-sync-server",
			    "show" : True,
			    "max_x" : None,
		   	},
         	{
	        	"type" : "cm-histogram-transf-server",
			    "show" : True,
		   	},
	     ]
	    },
    	{
		 "show" : True,
         "test_name" : "syncperf",
         "alias" : "10 dir. each 100 files - 10kB",
         "testdirstruct" : "10/100/10000",
		 "server" : [
			"dropbox",
			"https://seacloud.cc/",
		 ],
	     "runid" : "deic",
		 "start_time" : None,
	     "stop_time" : None,
         "graph" : [
         	{
	        	"type" : "compare-files-server",
			    "show" : True,
		   	},
         	{
	        	"type" : "cm-histogram-sync-server",
			    "show" : True,
			    "max_x" : 400,
		   	},
         	{
	        	"type" : "cm-histogram-transf-server",
			    "show" : True,
		   	},
	     ]
	    },
        {
		 "show" : True,
         "test_name" : "monit",
         "alias" : "100 files - file size distribution",
         "testdirstruct" : "0/100/var",
		 "server" : [
			"dropbox",
			"https://seacloud.cc/",
		 ],
	     "runid" : "deic",
		 "start_time" : None,
	     "stop_time" : None,
         "graph" : [
         	{
	        	"type" : "compare-files-server",
			    "show" : True,
		   	},
         	{
	        	"type" : "cm-histogram-sync-server",
			    "show" : True,
			    "max_x" : 400,
		   	},
         	{
	        	"type" : "cm-histogram-transf-server",
			    "show" : True,
		   	},
	     ]
	    },
    ],
}
