{  
    "pull" : {
     "remote_storage_server" : "",
     "remote_database" : "smashbox",
     "remote_storage_user" : "X",
     "remote_storage_password" : "X",
    },
    "push" : {
     "remote_storage_server" : "",
     "remote_database" : "smashbox",
     "remote_storage_user" : "X",
     "remote_storage_password" : "X",
     "bz2_path" : "/home/X/smashbox-backup/2016-01-15T18:13:17.675734",
    },
}
